.loginButton{
    width: 300px;
    margin-top: 50px;
    font-size: 25px;
}

.loginPageCSS {
    background-color: white;
    width: 100%;
}

.loginCard {
    height: 500px;
    width: 50%;
    margin-top: 175px;
    margin-left: 250px;
}

.loginCardFields {
    width: 80%;
    margin-top: 30px;
    font-weight: 600;
    font-size: 25px;
    text-align: left;
}

.loginDoctorsImage{
    width: 1050px;
}

.loginPageForgotPasswordButton{
    font-weight: 400;
    font-size: 25px;
    margin-top: 20px;
    margin-right: 40px;
}

.loginPageLogo{
    width: 750px;
    margin-top: 100px;
}

.loginPageRegisterCard{
    height: 75px;
    width: 50%;
    margin-top: 100px;
    margin-left: 250px;

    margin-top: 30px;
    font-weight: 600;
    font-size: 25px;
    text-align: left;
}

.loginPageRegisterCardText{
    margin-top: 20px;
    font-size: 22px;
}

.loginWord{
    font-size: 70px;
    font-weight: 700;
}

/* GENERAL STYLING BELOW */

.standardColumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.standardRow {
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}