.registerPageCSS {
    background-color: #ecf0f5;
    height: 15vh;
    width: 100%;
}

.registerButton{
    width: 300px;
    margin-top: 75px;
    font-size: 25px;
}

.registerCard {
    height: 500px;
    width: 50%;
    margin-top: 100px;
    margin-left: 100px;
}

.registerCardFields {
    width: 80%;
    margin-top: 10px;
}

.registerCardHeader{
    font-size: 60px;
    font-weight: 500;
}

.registerDescriptionHeader{
    font-size: 60px;
    font-weight: 400;
    margin-top: 125px;
}

.registerDescriptionHeaderAI{
    color:lightgreen
}

.registerDescriptionLogo{
    width: 800px;
}

.registerDescriptionSection{
    margin-top: 100px;
    padding-left: 100px;
}

.registerDescriptionText{
    margin-top: 10px;
}

.registerleftVerticalBar{
    width: 40px;
    margin-left: 0px;
    background-color: blue;
}

.registerPageLoginCard{
    height: 70px;
    width: 50%;
    margin-top: 135px;
    margin-left: 100px;
    text-align: center;
}

.registerPageLoginCardText{
    margin-top: 15px;
    font-size: 25px;
}

.standardColumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.standardRow {
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}