.registerPageCSS {
    /* Assert background color and dimension(s) */
    background-color: white;
    width: 100%;
}

.registerButton{
    /* Button that submits register fields for storage */
    width: 300px;
    margin-top: 75px;
    margin-left: 10px;
    font-size: 25px;
}

.registerCard {
    /* Card housing Register header and Register fields */
    height: 500px;
    width: 50%;
    margin-top: 150px;
    margin-left: 200px;
}

.registerCardFields {
    /* Container housing all of the Register fields */
    width: 80%;
    margin-top: 10px;
}

.registerCardHeader{
    /* "REGISTER" header */
    font-size: 60px;
    font-weight: 500;
}

.registerDoctorImage{
    /* Image of doctor on the left of the Register page */
    margin-top: 5px;
    width: 1100px;
}

.registerPageLoginCard{
    /* Login card */
    height: 70px;
    width: 50%;
    margin-top: 135px;
    margin-left: 200px;
    text-align: center;
}

.registerPageLoginCardText{
    /* Text for Login card on Register page */
    margin-top: 15px;
    font-size: 25px;
}


/* GENERAL STYLING BELOW */

.standardColumn {
    /* Generic "Column" Container: Used across MULTIPLE pages' CSS */
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.standardRow {
    /* Generic "Row" Container: Used across MULTIPLE pages' CSS */
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}