.beginDiagnosisButton{
    /* Button on Dashboard page used to route to Diagnose page */
    width: 800px;
    font-size: 25px;
    margin-left: 50px;
}

.bigNameHeader{
    /* User's name greeting */
    font-size: 150px;
    font-weight: 500;
}

.dashboardLogoutButton{
    /* Red logout button on the upper right of the Dashboard Page */
    font-size: 30px;
    width: 200px;
    margin-top: 50px;
    margin-left: 80vh;
}

.dashboardMenuButtons{
    /* Container for buttons in the top right */
    font-size: 30px;
    width: 200px;
    margin-top: 30px;
    margin-left: 80vh;
}

.diagnosesButtons{
    /* Buttons that link to past diagnoses */
    font-size: 40px;
    margin-top: 50px;
    text-align: left;
    color: whitesmoke;
    width: 70%;
    align-self: left;
}

.diagnosesDiscardButtons{
    /* Discard-button images next to the past-diagnoses buttons */
    width: 75px;
    margin-top: 35px;
    margin-left: 15px;
}

.diagnosesEditButtons{
    /* Edit-button images next to the past-diagnoses buttons */
    width: 75px;
    margin-top: 45px;
    margin-left: 15px;
}

.diagnosesShareButtons{
    /* Share-button images next to the past-diagnoses buttons */
    width: 75px;
    margin-top: 45px;
    margin-left: 30px;
}

.headerWrapper{
    /* Container for Dashboard page greeting header */
    margin-top: 100px;
    text-align: left;
    margin-left: 200px;
}

.leftColumn{
    /* LEFT COLUMN (dashboard)*/
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.manageDiagnosesHeader{
    /* Header for past diagnoses content */
    font-size: 45px;
    font-weight: 600;
    margin-top: 25px;
    text-align: center;
}

.or_divider{
    /* Divider between header and manage diagnoses page */
    width: 100%;
    margin-top: 50px;
}

.smallHeyHeader{
    /* Small "Hey" header greeting */
    font-size: 40px;
    font-weight: 300;
}

/* GENERAL STYLING BELOW */

.standardColumn {
    /* Generic "Column" Container: Used across MULTIPLE pages' CSS */
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.standardRow {
    /* Generic "Row" Container: Used across MULTIPLE pages' CSS */
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}