.bigHeader{
    /* "Password Recovery Request Submitted" header */
    width: 1000px;
    font-size: 85px;
    font-weight: 700;
    margin-top: 225px;
}

.description{
    /* Entire description container */
    font-size: 25px;
    font-weight: 300;
    margin-top: 50px;
    width: 1000px;
}

.returnButton{
    /* Return button toward the bottom of the screen */
    width: 300px;
    margin-top: 100px;
    font-size: 25px;
}

/* GENERAL STYLING BELOW */

.bold{
    /* Generic "Boldface" class */
    font-weight: 500;
}

.italic{
    /* Generic "Italicize" class */
    font-style: italic;
}