

/* GENERAL STYLING BELOW */

.standardColumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.standardRow {
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}