.contactGitLogo{
    /* GitHub Logo hyperlink */
    width: 150px;
    margin-right: 35px;
}

.contactMailLogo{
    /* Email Logo hyperlink */
    width: 150px;
    margin-left: 35px;
}

.contactPageBigHeader{
    /* Header for the Contact Page */
    font-size: 75px;
    font-weight: 500;
    margin-top: 250px;
    color: dimgray;
}

.contactPageBigHeaderLove{
    /* The word "love" in the header for the Contact page */
    color: magenta;
}

.imageContainer{
    /* Hyperlink Logo Container (Contact Page) */
    margin-top: 100px;
}

.smallContactDescription{
    /* Small sentence below the Contact Page header */
    font-size: 35px;
    font-weight: 400;
    width: 900px;
    margin-top: 100px;
}