.settingsPageCSS {
    background-color: #ecf0f5;
    height: 100vh;
    width: 100vw;
}

.leftSideBar, .content, .rightBar {
    margin-top: 2.5vh;
    margin-left: auto;
    margin-right: auto;
}

.leftSideBarButton {
    border-color: #d7d9dc;
    border-style: solid;
    border-width: 0.125em;
    height: 100vh;
}

.leftSideBarButton {
    height: 100vh;
}