.navbarHomeLettersLogo{
    /* SM Logo on the left of the NavBar */
    width: 100px;
}

.navbarHomeWordLogo{
    /* SymptomMatch Logo on the left of the NavBar */
    width: 350px;
    padding-top: 9px;
}

.navbarOptionLinks{
    /* All centered hyperlinks on the NavBar */
    margin-left: 50px;
    font-weight: 600;
    font-size: 40px;
    color: #307DF6;
}

.navbarOptions{
    /* Container that holds ALL centered hyperlinks */
    margin-left: 200px;
}

.navbarProfileButton{
    /* Progile Hyperlink on the right of the NavBar */
    margin-right: 20px;
    font-size: 40px;
}